body{ 
    height: 100%;
    text-align: center;
    margin-top: 10%;
}
h2{
    text-align: center;
}
#loginForm{
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 20px;
    display: inline-block; 
    background-color: #ccc;
    
}
#loginbtn{
    text-transform: capitalize;
    border: 2px solid;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 16px;

    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #9ce30ed7;
    text-align: center;
}
#loginbtn:hover{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
}
label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    background-color: rgb(214, 233, 240);
    border: 2px solid;
    border-radius: 6px;
    padding: 10px 35px 10px 35px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 2px 2px  black;
    outline: none;
    cursor: pointer;
}
input:hover{
    background-color:#9ce30ed7 ;

}
#track{
    border: 2px solid black;
    border-radius: 16px ;
    background-color: #9ce30ed7;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
#track:hover{
    background-color: black;
}
